# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDEs
.idea/
.vscode/

# Build and distribution directories
build/
dist/
*.spec

# Logs
logs/
*.log
*.log.*

# Data files (ignored by default to prevent large commits)
*.csv
*.parquet
*.xlsx
*.sswweb
BD*/

# Specific folders to ignore
Fontes/